:root{
    /* Root font size for rem, makes it so that:
       1.0 rem === 10 px, 1.6 === 16px etc. */
    font-size: 62.5%;
    scroll-behavior: smooth;

    --nav-color: gray;
}

html, body, .mainContainer {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 4rem;
}

h2{
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

h3{
    font-family: "Optima", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
}

p,a{
    font-family: "Optima", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 40px;
    text-align: center;
}

.logo{
    width: 150px;
    height: 150px;
}

.logoLine{
    stroke:#020202;
    stroke-width:13;
    stroke-linecap:round;
}

.navigation{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navButton{
    width: 20px;
    height: 20px;
    margin: 8px;
    background-color: transparent;
    border:1px solid var(--nav-color);
    border-radius: 50%;
}

.currentSection {
    background-color: var(--nav-color);
    color: #5bbad5;
}

#contactSen::after{
    content: "slushten.com";
    display: inline;
    text-decoration: underline;
}

#portfolioContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolioItem{
    padding: 16px;
    margin-top: 32px;
}

img{
    width: 100px;
    height: 100px;
}

.inline{
    display: inline;
}

.portHeader{
    display: inline;
    margin-top: 16px;
}

.share{
    width: 16px; 
    height: 16px;
}